@property --button-accent {
  syntax: "<color>";
  initial-value: black;
  inherits: false;
}

* {
  margin: var(--size-fluid-0);
  box-sizing: border-box;
  padding: var(--size-fluid-0);
  font-family: "Geist Variable", system-ui, sans-serif;
  font-weight: var(--font-weight-4);
}

:root {
  --font-size: 16px;
  --rhythm: calc(var(--font-size) * var(--font-lineheight-4));
}

html {
  background: var(--offwhite);
  font-family: var(--font-sans);
  color: var(--gray-8);
  @media (--motionOK) {
    transition: all 300ms var(--ease-2);
  }
  @media (--OSdark) {
    background: var(--grey);
    color: var(--gray-1);
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
.home--page {
  header {
    background-color: var(--purple);
  }
}
.wrapper,
.fullwidth {
  --_container-gap: 0px;
  --_container-margin: var(--size-7);
  --_container-gutter: var(--size-3);
  --_content-width: 100%;
  display: grid;
  column-gap: var(--_container-gap);
  grid-template-columns:
    [full-bleed-start] minmax(0, 1fr)
    [feature-start] minmax(0, calc(var(--rhythm) * 1))
    [body-start] minmax(0, var(--_content-width))
    [body-end] minmax(0, calc(var(--rhythm) * 1))
    [feature-end] minmax(0, 1fr) [full-bleed-end];
  @media (--md-n-above) {
    --_container-gutter: var(--size-6);
    --_container-margin: var(--size-10);
    --_content-width: 1280px;
  }
  & > * {
    grid-column-start: body-start;
    grid-column-end: body-end;
  }
  &:has(.sidebar) {
    --_sidebar-content-min-width: 0px;
    --_sidebar-target-width: 0px;
    grid-template-columns:
      [full-bleed-start] minmax(0, 1fr)
      [sidebar-start] minmax(var(--_sidebar-content-min-width), var(--_sidebar-target-width, 20rem))
      [sidebar-end feature-start] minmax(calc(var(--rhythm) * 1), 1fr)
      [body-start] minmax(0, var(--_content-width))
      [body-end] minmax(calc(var(--rhythm) * 1), 1fr)
      [feature-end] minmax(0, 1fr) [full-bleed-end];
    @media (--sm-n-above) {
      --_sidebar-content-min-width: 8rem;
      --_sidebar-target-width: 12.5rem;
      --_content-width: 52ch;
    }
    @media (--md-n-above) {
      --_sidebar-content-min-width: 8rem;
      --_sidebar-target-width: 12.5rem;
      --_content-width: 52ch;
      grid-template-columns:
        [full-bleed-start] minmax(0, 1fr)
        [sidebar-start] minmax(var(--_sidebar-content-min-width), var(--_sidebar-target-width, 20rem))
        [sidebar-end feature-start] minmax(0, calc(var(--rhythm) + 6ch * 2))
        [body-start] minmax(0, var(--_content-width))
        [body-end] minmax(0, calc(var(--rhythm) + 6ch * 2))
        [feature-end] minmax(0, 1fr) [full-bleed-end];
    }
  }
}

.fullwidth,
.fullbleed {
  grid-column-start: full-bleed-start;
  grid-column-end: full-bleed-end;
}

.section-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-block: var(--size-3);
  gap: 1rem;
  margin-block-end: var(--size-5);
  @media (--md-n-above) {
    flex-direction: row;
  }
  &[data-alignment="top"] {
    align-items: start;
  }
  &[data-alignment="bottom"] {
    align-items: unset;
    @media (--md-n-above) {
      align-items: end;
    }
  }
  &[data-alignment="center"] {
    align-items: center;
  }
  p {
    flex-shrink: 1;
    max-width: 43ch;
  }
}
