.block-heading {
  --_font-size: inherit;
  --_block-color: var(--white);
  --_block-background-color: green;
  --_block-mark: linear-gradient(
    0deg,
    transparent var(--_highlight-start, 20%),
    var(--_block-background-color) var(--_highlight-start, 20%),
    var(--_block-background-color) var(--_highlight-end, 84%),
    transparent var(--_highlight-end, 84%)
  );
  --_highlight-start: 0%;
  --_hightlight-end: 100%;
  margin: 0;
  font-size: var(--_font-size);
  font-family: "Geist Mono Variable", monospace;
  color: var(--_block-color);
  &[data-mark-bg="purple"] {
    --_block-background-color: var(--purple);
  }
  &[data-mark-bg="pink"] {
    --_block-background-color: var(--pink);
  }
  &[data-mark-bg="blue"] {
    --_block-background-color: var(--blue);
  }
  &[data-mark-bg="yellow"] {
    --_block-background-color: var(--yellow);
  }
  &[data-mark-bg="white"] {
    --_block-color: var(--black);
    --_block-background-color: var(--white);
  }
  &[data-mark-bg="black"] {
    --_block-background-color: var(--black);
  }

  &[data-color="purple"] {
    --_block-color: var(--purple);
  }
  &[data-color="pink"] {
    --_block-color: var(--pink);
  }
  &[data-color="blue"] {
    --_block-color: var(--blue);
  }
  &[data-color="yellow"] {
    --_block-color: var(--yellow);
  }
  &[data-color="white"] {
    --_block-color: var(--white);
  }
  &[data-color="black"] {
    --_block-color: var(--black);
  }

  &[data-size="sm"] {
    --_font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.96px;
    line-height: 1;
    mark {
      padding-block-start: 0.5rem;
    }
  }
  &[data-size="md"] {
    --_font-size: 58px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1.92px;
    line-height: 0.97;
    text-wrap: pretty;
  }
  &[data-size="lg"] {
    --_font-size: 68px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1.92px;
    line-height: 70px;
    text-wrap: pretty;
    @media (--md-n-above) {
      --_font-size: 96px;
      line-height: 100px;
    }
  }
  mark {
    padding-inline: 0.5rem;
    background: var(--_block-mark, var(--_block-background-color));
    font-family: inherit;
    color: var(--_block-color);
    box-decoration-break: clone;
  }
}
