button {
  appearance: none;
  cursor: pointer;
}
.button {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  border: 2px solid var(--black);
  border-radius: 56px;
  width: fit-content;
  height: 56px;
  padding: 16px 8px 16px 16px;
  background: #eec057;
  font-size: 24px;
  font-family: Geist;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.48px;
  color: var(--grey);
  gap: 16px;
  margin-block: var(--rhythm);
  &:hover {
    .icon {
      rotate: -90deg;
    }
  }
  .icon {
    display: grid;
    transition: all 200ms var(--ease-1);
    border: 2px solid var(--black);
    border-radius: 50%;
    width: 36px;
    background: #fff;
    aspect-ratio: 1;
    place-items: center;
  }
}
.read--button {
  display: none;
  overflow: hidden;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: var(--gray-9);
  @media (--md-n-above) {
    display: grid;
  }
  p {
    display: grid;
    transition: all 150ms ease-out;
    margin: 0;
    width: 80px;
    height: 80px;
    background-color: white;
    font-size: var(--font-size-0);
    place-items: center;
    &:last-of-type {
      background: var(--yellow-4);
    }
  }
}
