.chip {
  display: grid;
  border: 1px solid var(--black);
  width: fit-content;
  padding: 8px 10px;
  font-family: var(--font-mono);
  letter-spacing: -0.32px;
  gap: 10px;
}
.pill {
  display: grid;
  border: 1px solid currentColor;
  border-radius: var(--radius-round);
  width: fit-content;
  padding: 4px 12px;
  font-size: small;
  font-family: var(--font-mono);
  letter-spacing: -0.32px;
  gap: 10px;
}
