.hero {
  --_bg-image-size: 24px;
  display: grid;
  align-items: center;
  min-height: 700px;
  padding-block: var(--size-7);
  background-color: var(--purple);
  background-image: url("@assets/images/hero-pattern.png");
  background-size: var(--_bg-image-size);
  background-position-y: calc(var(--_bg-image-size) / 2 * -1);
  background-position-x: calc(var(--_bg-image-size) / 2 * -1);
  &--layout {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    gap: var(--size-10);
    @media (--lg-n-above) {
      grid-template-columns: 6fr 4fr;
    }
  }
}
