.home {
  @media (--md-n-above) {
    position: relative;
    top: calc(var(--size-10) * -1);
    width: 100%;
  }
}
.home--title {
  display: grid;
  margin: var(--size-11) 0;
  padding: 0 var(--size-10);
  grid-template-columns: 1fr 1fr;
}
