.marquee {
  --duration: 15s;
  --gap: var(--size-8);
  display: flex;
  transform: skewY(-3deg);
  overflow: hidden;
  margin-top: var(--size-7);
  user-select: none;
  gap: var(--gap);
  grid-column: 1/-1;
  @media (--md-n-above) {
    --duration: 30s;
  }
}

.marquee--group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  animation: scroll var(--duration) linear infinite;
  gap: var(--gap);
  img {
    width: 100%;
    max-width: clamp(10rem, 1rem + 23vmin, 20rem);
    object-fit: cover;
    filter: grayscale(1) brightness(1.5);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
