.post--header {
  padding-block: var(--size-8);
  padding-inline: calc(var(--rhythm) * 1);
  background-color: var(--yellow);
  grid-column: sidebar/feature;
  grid-template-columns: subgrid;
  footer {
    padding-top: var(--size-10);
    color: var(--black);
  }
}
.post {
  --font-size: var(--font-size-3);
  --rhythm: calc(var(--font-size) * var(--font-lineheight-4));
  display: grid;
  margin-bottom: var(--size-7);
  font-size: var(--font-size);
  line-height: var(--font-lineheight-4);
  .sidebar + * {
    margin-top: 0;
    padding-block-start: var(--size-11);
  }
  iframe {
    margin-top: var(--rhythm);
    width: 100%;
    grid-column: body;
    @media (--lg-n-above) {
      width: calc(100% + var(--_sidebar-target-width, 20rem) / 2);
      margin-inline-start: calc((var(--_sidebar-target-width, 20rem) / 2) * -1);
      grid-column: feature;
    }
  }
}
