.posts--grid {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 0;
  gap: var(--size-7);
  list-style: none;
  @media (--md-n-above) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.posts {
  padding-block: var(--size-10);
}
