.projects--grid {
  position: relative;
  display: grid;
  margin: 0;
  margin-block-start: var(--rhythm);
  gap: var(--rhythm);
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.projects {
  padding-block-start: var(--size-10);
  ul {
    li {
      list-style: none;
    }
  }
}

.project {
  --font-size: var(--font-size-3);
  --rhythm: calc(var(--font-size) * var(--font-lineheight-4));
  display: grid;
  margin-bottom: var(--size-7);
  font-size: var(--font-size);
  line-height: var(--font-lineheight-4);
  header {
    display: grid;
    border-bottom: 0;
    padding-block: var(--rhythm);
    color: var(--offwhite);
    gap: calc(var(--size-1) + var(--size-3));
    grid-column: feature;
    .tags {
      display: flex;
      gap: var(--size-2);
    }
  }
  .wrapper {
    @media (--md-n-above) {
      --_content-width: 52ch;
    }
  }
  img {
    width: 100%;
    background-color: var(--offwhite);
    grid-column: feature;
  }
}
