.resume {
  --font-size: var(--font-size-3);
  --rhythm: calc(var(--font-size) * var(--font-lineheight-4));
  display: grid;
  font-size: var(--font-size);
  line-height: var(--font-lineheight-4);
  grid-template-columns: minmax(0, 1fr) minmax(0, calc(var(--rhythm) * 1)) minmax(0, 54ch) minmax(0, calc(var(--rhythm) * 1)) minmax(0, 1fr);
  margin-bottom: var(--size-7);
  *,
  * > * {
    grid-column: 1/-1;
    @media (--md-n-above) {
      grid-column: 3;
    }
  }
  .gradient-text {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    @media (--OSdark) {
      background-image: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
    }
    p {
      mix-blend-mode: lighten;
      color: black;
      background: white;
      margin: 0;
      padding-top: var(--rhythm);
      margin-top: -1px;
      margin-left: -1px;
      margin-right: -1px;
      &:last-of-type {
        margin-bottom: -1px;
      }
      @media (--OSdark) {
        mix-blend-mode: darken;
        color: white;
        background: var(--gray-9);
      }
    }
  }
  .experience--wrapper {
    grid-column: 2/5;
    margin-top: var(--rhythm);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size-2);
    @media (--md-n-above) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .experience {
    --offset: var(--size-5);
    width: 100%;
    grid-column: auto;
    background: var(--gray-1);
    padding: var(--size-4);
    border-radius: var(--radius-3);
    &:nth-child(even) {
      @media (--md-n-above) {
        transform: translateY(var(--offset));
      }
    }
    @media (--OSdark) {
      background: var(--gray-10);
    }
    p,
    li {
      font-size: var(--font-size-1);
    }
    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-2);
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: var(--size-4);
      .skill {
        border: 1px solid var(--gray-8);
        border-radius: var(--radius-round);
        padding-left: var(--size-2);
        padding-right: var(--size-2);
        @media (--OSdark) {
          border: 1px solid var(--gray-1);
        }
      }
    }
  }
  span {
    color: var(--gray-7);
    font-size: var(--font-size-1);
  }
  h4 {
    margin-top: 0;
    line-height: 1;
  }
}
