.sidebar {
  --row-count: 99;
  @media (--md-n-above) {
    display: grid;
    border-right: 1px solid var(--black);
    padding-block-start: var(--size-11);
    grid-column: sidebar;
    grid-row: span var(--row-count);
  }
}
