:root {
  --font-sans: "Geist Variable", system-ui, sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}
:where(h1, h2, h3, h4, h5, h6, time) {
  font-family: var(--font-mono);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: var(--rhythm);
  font-size: var(--font-size);
}
h1 {
  --font-size: var(--font-size-fluid-3);
  line-height: var(--font-lineheight-0);
}
h2 {
  --rhythm: calc(var(--font-size) * var(--font-lineheight-4));
  --font-size: var(--font-size-6);
  line-height: var(--font-lineheight-0);
}
h3,
h4 {
  --font-size: var(--font-size-5);
  font-weight: 700;
}
h5,
h6 {
  --font-size: var(--font-size-fluid-0);
}
h4,
h6 {
  font-weight: var(--font-weight-7);
}

p {
  --font-size: var(--font-size-3);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-4);
}

strong {
  font-weight: bold;
}

a {
  color: light-dark(var(--purple), var(--yellow));
}

ul,
ol {
  margin-top: var(--rhythm);
  margin-left: var(--rhythm);
}

blockquote {
  --font-size: var(--font-size-6);
  padding: var(--size-6);
  background-color: light-dark(var(--grey), var(--offwhite));
  font-weight: 800;
  letter-spacing: -0.03em;
  line-height: 1;
  color: light-dark(var(--offwhite), var(--grey));
  margin-block: var(--rhythm);
  grid-column: feature !important;
  font-variation-settings: "wght" 800;
  &.compatibility-alert {
  }
  p {
    --font-size: inherit;
    line-height: inherit;
    &:first-of-type {
      margin-block-start: 0;
    }
  }
}
