---
import MainLayout from "../layouts/MainLayout.astro"
import Hero from "../components/Hero.astro"
import PostPreview from "../components/PostPreview.astro"



export interface Props {
  posts: any
  homeData: any
}

// const { posts = postsData.data, homeData = homepageData.data } = Astro.props
---

<MainLayout title="Brynn the dev" bodyClasses="home--page" classes="home">
  <Hero title="I'm a front-end engineer & CSS lover" description="I do my best to ensure the use of modern best practices on the web. My claim to fame is that I can spin up the fans on an Apple M1 Pro chip machine with CSS." images={} />
  <section class="posts--list">
    <div class="wrapper"></div>
    <ul>
      <!-- {posts.map((post) => <PostPreview title={post.title} short_content={post.short_content} slug={post.slug} />)} -->
    </ul>
  </section>
</MainLayout>
