---
import { getCollection } from 'astro:content'

import MainLayout from "../layouts/MainLayout.astro"
import PostCard from "../components/PostCard.astro"

const posts = (await getCollection('posts'))

---

<MainLayout title="Brynn the dev | Posts">
  <main class="wrapper posts">
    <div class="posts--header">
      <h1>Read a thing</h1>
      <p>
        If there's one thing I love even more than you, it's teaching you the ins and outs of web development. Let's see if I can show you something
        new!
      </p>
    </div>
    <ul class="posts--grid">
      {posts.map((post) => <PostCard title={post.data.title} short_content={post.data.description} slug={post.slug} />)}
    </ul>
  </main>
</MainLayout>
