---
export interface Props {
  post: object
}

const { post } = Astro.props
---
<div class="post--header">
  <div class="post--header-inner">
    <div class="header--data">
      <time>{post.data.published}</time>
      <span>~</span>
      <span>{Math.ceil(post.body.trim().split(/\s+/).length / 200)} min read</span>
    </div>
    <h1>{post.data.title}</h1>
  </div>
</div>